@charset "utf-8";

/*全局样式*/
body,html{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑,"Helvetica Neue", Helvetica, "STHeiTi", sans-serif;
    overflow-x:hidden; overflow-y:auto;
    background-color: #f8f8f8;
}
ul, li {
    list-style: none;
    padding: 0;
}
.color {
    color: #337AB7;
    font-weight: bold;
    font-size: 18px;
}
.color1 {
    color: #5BC0DE;
    font-weight: bold;
}
.container {
    width: 1170px;
}
.bg_white {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0;
}


/*头部导航部分*/
#header .header_nav {
    padding: 0 0 20px 0;
    margin-bottom: 0;
    width: 100%;
}
#header .head_top {
    width: 100%;
    height: 40px;
    background: #6c6c6c;
    margin: 0 auto;
    margin-bottom: 15px;
}
#header .top_left {
    float: left;
    color: #ccc;
}
#header .top_left p {
    line-height: 3;
    float: left;
}
#header .top_left a {
    line-height: 3;
    color: #ccc;
    margin-left: 30px;
    text-decoration: none;
}
#header .top_right {
    float: right;
    color: #ccc;
}
#header .top_right ul {
    width: 400px;
    height: 40px;
    padding: 0;
}
#header .top_right ul li {
    float: right;
    color: #ccc;
    list-style: none;
    margin: 0 5px;
    line-height: 3;
    text-align: center;
}
#header .top_right ul li a {
    text-decoration: none;
    color: #ccc;
}
#header .brand {
    padding: 0;
    clear: both;
}
#header .navbar-img{
    height: 50px !important;
    margin-left: 10px;
}
#header .navbar #navbar-collapse li a:hover,.active a{
    border-bottom: 2px solid #337AB7;
}
#header .navbar #navbar-collapse li{
    margin-right: 10px;
    font-size: 20px;
}
#header .navbar #navbar-collapse li a {
    padding: 10px;
    color: #000;
}
#header .navbar #navbar-collapse .active a{
    border-bottom: 2px solid #337AB7;
    background-color: #f8f8f8;
    color: #337AB7;
}

#banner {
    margin: 0;
    padding: 0;
}
#banner img {
    display: block;
    width: 100%;
}


/*文字主题部分*/
#security .bg {
    background-color: #fff;
}
#security .cont {
    padding: 50px 0 80px 0;
}
#security .security_left {
    width: 60%;
    float: left;
}
#security .security_left h3 {
    padding-bottom: 20px;
    color: #337AB7;
}
#security .security_left h4 {
    padding: 20px 0 5px 0;
    color: #333;
}
#security .security_left p {
    color: #666;
    line-height: 1.5;
}
#security .security_right {
    width: 35%;
    float: right;
    text-align: right;
    padding-top: 100px;
}
#security .clear {
    clear: both;
}

#security .security_left_1 {
    width: 60%;
    float: right;
}
#security .security_left_1 h3 {
    padding-bottom: 20px;
    color: #337AB7;
}
#security .security_left_1 h4 {
    padding: 20px 0 5px 0;
    color: #333;
}
#security .security_left_1 p {
    color: #666;
    line-height: 1.5;
}
#security .security_right_1 {
    width: 35%;
    float: left;
    text-align: left;
    padding-top: 100px;
}



/*底部*/
#footer {
    width:100%;
    height:auto;
    background-color:#2D3A4B;
    margin: 0 auto;
}
#footer .left {
    width:100%;
    height:auto;
    text-align: left;
    vertical-align: top;
}
#footer .center {
    width:100%;
    height:auto;
    text-align: left;
    vertical-align: top;
}
#footer .right_border {
    border-right: 2px solid #ccc;
}
#footer .center-right {
    width:100%;
    height:auto;
    text-align: left;
    vertical-align: top;
    padding-left: 40px;
    padding-top: 20px;
}
#footer .center-right .time {
    padding-left: 20px;
    color: #ccc;
}
#footer .center-right .img-circle {
    width: 60px;
    height: 60px;
}
#footer .right {
    width:100%;
    height:auto;
    text-align: left;
    vertical-align: top;
}
#footer .clear {
    clear: both;
}
#footer h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 0 10px;
    color: #fff;
}
#footer hr {
    width:89%;
    border:1px dashed #eee;
}
#footer ul {
    font-size: 14px;
    text-indent: 15px;
    line-height: 2;
    padding: 0;
}
#footer a {
    color:#fff;
}
#footer a:hover {
    color: #337AB7;
}
#footer .tel {
    font-size: 28px;
    color: #337AB7;
}
#footer .img-margin {
    display: block;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}
#footer .bottom {
    background: #141C26;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #eee;
}
#footer .bottom ul {
    width: 45%;
    height: 50px;
    margin: 0 auto;
}
#footer .bottom ul li {
    float: left;
    margin-right: 12px;
    text-align: center;
    vertical-align: middle;
}
#footer .bottom p {
    margin-bottom: 10px;
}


/*微信弹出效果样式*/
#footer .weixin {
    position: relative;text-align: center;padding: 0;
}
#footer .weixin .weixin_nr{
    width:110px;
    height:110px;
    padding:0;
    background:#fff;
    text-align:center;
    position:absolute;
    left:-25px;
    bottom:45px;
    display: none;
}
#footer .weixin .weixin_nr img{
    margin:0;
    padding: 0;
}
#footer .weixin .weixin_nr .arrow{
    width:0;
    height:0;
    border-top:10px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    position:absolute; left:50px;
    bottom:-10px;}
#footer .weixin.on .weixin_nr{
    display:block;
}



@media(min-width: 768px){
    .container {
        width: 980px;
    }
    #footer .img-margin {
        margin-right: 10px;
    }
    .img-responsive {
        height: 20px;
    }
    .scroll {
        left:10px;
    }
}
@media(min-width:992px){
    .container {
        width: 1170px;
    }
    #footer .img-margin {
        margin-right: 25px;
    }
    .img-responsive {
        height: 25px;
    }
    .scroll {
        left:10px;
    }
}
@media(min-width:1200px){
    .container {
        width: 1170px;
    }
    #footer .img-margin {
        margin-right: 30px;
    }
    .img-responsive {
        height: 30px;
    }
    .scroll {
        left:130px;
    }
}
